i[class^="icon"] {
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-w-h-44 {
    width: 44px;
    height: 44px;
}

.icon-w-h-30 {
    width: 30px;
    height: 30px;
}

//主界面
.icon-help {
    background-image: url(~@/assets/images/icon/icon-help.png);
}

.icon-location {
    background-image: url(~@/assets/images/icon/icon-location.png);
}

.icon-search {
    background-image: url(~@/assets/images/icon/icon-search.png);
}

.icon-user {
    background-image: url(~@/assets/images/icon/icon-user.png);
}

//用户界面
.icon-user-my {
    background-image: url(~@/assets/images/icon/icon-my.png);
}

.icon-user-order {
    background-image: url(~@/assets/images/icon/icon-order.png);
}

.icon-user-authentication {
    background-image: url(~@/assets/images/icon/icon-authentication.png);
}

.icon-user-safe {
    background-image: url(~@/assets/images/icon/icon-safe.png);
}

.icon-user-more {
    background-image: url(~@/assets/images/icon/icon-more.png);
}

//
.icon-success {
    background-image: url(~@/assets/images/icon/success.png);
}

.icon-fail {
    background-image: url(~@/assets/images/icon/fail.png);
}